#
# Copyright (C) 2011-2014 Barchart, Inc. <http://www.barchart.com/>
#
# All rights reserved. Licensed under the OSI BSD License.
#
# http://www.opensource.org/licenses/bsd-license.php
#


#
# eclipse meta data
#
.project
.classpath
.settings/

#
# eclipse build folder
#
bin/

#
# maven build folder
#
target/
test-output/

#
# maven release meta data
#
release.properties
pom.xml.*

